frontend/elm-stuff/*
frontend/dist/*
frontend/bower_components/*
frontend/node_modules/*
backend/public/app.html
backend/public/assets/
backend/public/css/
backend/public/js/
backend/public/partials/

