<div class="page-header text-center">
    <h1>
      {{ event.name }}
      <button type="button" class="btn btn-primary" ng-click="openEdit()" 
              ng-if="isOwner">
        <i class="glyphicon glyphicon-pencil"></i>
      </button>
    </h1>
</div>
<div ng-if="openedEdit" class="row">
  <events-fast-form></events-fast-form>
</div>
<div ng-if="!openedEdit" class="row">
    <div class="col-md-6 text-center">
        <div class="img-detail" ng-if="event.img">
            <cl-image public-id="{{ event.img }}"></cl-image>
        </div>
        <div class="img-detail" ng-if="!event.img">
            <img src="assets/no-image.jpg">
        </div>
        <h4 ng-if="authUser">
            <button ng-if="!event.assistance" class="btn btn-success" ng-click="changeAssistance(true)">Asistir</button>
            <button ng-if="event.assistance" class="btn btn-danger" ng-click="changeAssistance(false)">Dejar de Asistir</button>
        </h4>
        <h4>
            <i class="glyphicon glyphicon-calendar"></i>
            <span>Date:</span>
            <span>{{ event.date | date:'d/MM/yyyy hh:mm a' }}</span>
        </h4>
        <h4 style="margin-bottom:0" ng-if="event.weather">
            <span>
                <skycon icon="weather.icon" size="weather.size"
                        animated="weather.animated" color="weather.color">
                </skycon>
            </span>
        </h4>
        <h4 style="margin-top:0">
            <span style="color:black">{{ weather.cleanDetail }}</span>
        </h4>
        <h4>
            <span>{{ event.description }}</span>
        </h4>
        <h4>
          <span class="label label-primary">{{ event.privacy }}</span>
        </h4>
    </div>
    <div class="col-md-6 text-right">
        <div class="col-md-offset-1 col-md-10">
            <ui-gmap-google-map center='detailsMap.center' zoom='detailsMap.zoom'>
                <ui-gmap-marker ng-repeat="m in detailsMap.markers" coords="m.coords" idkey="m.id">
                </ui-gmap-marker>
            </ui-gmap-google-map>
        </div>
    </div>
</div>

<div ng-controller="CommentsCtrl">
    <div class="page-header">
        <h1 ng-if="comments.total === 0">
          No comments yet
        </h1>
        <h1 ng-if="comments.total > 0">
          Comments <small>({{ comments.total}} in total)</small>
        </h1>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <div class="row" ng-if="authUser">
                <div class="media">
                  <div class="media-left">
                    <a ui-sref="user({ id: authUser.id })">
                      <img class="media-object avatar" ng-src="{{ authUser.avatar }}">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">{{ authUser.name }}</h4>
                    <textarea rows="4" cols="50" ng-model="comment.comment" placeholder="insert your comment here...">
                    </textarea>
                    <button type="button" class="btn btn-primary" ng-click="sendComment()"
                            ng-disabled="!comment.comment">
                        <i class="glyphicon glyphicon-share-alt"></i>
                        Send
                    </button>
                  </div>
                </div>
            </div>
            <div class="row comment" ng-repeat="comment in comments.data">
                <div class="media">
                  <div class="media-left">
                    <a ui-sref="user({ id: comment.user.id })">
                      <img class="media-object avatar" ng-src="{{ comment.user.avatar }}">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">{{ comment.user.name }} <small class="date">{{ comment.created_at }}</small></h4>
                    {{ comment.comment }}
                  </div>
                </div>
            </div>
            <div class="row text-center comment" ng-if="comments.next_page_url">
              <h1 class="clickeable" ng-click="moreComments()"><i class="glyphicon glyphicon-chevron-down"></i></h1>
            </div>
        </div>
    </div>
</div>