<div ng-if="event" class="col-md-12 new-event">
    <form name="form">
    <div class="thumbnail">
        <div class="caption input-style-1">
            <div class="row">
                <div class="col-sm-12 col-md-6 text-center">
                    <div ng-controller="PhotoUploadCtrl">
                        <div id="direct_upload" 
                            ngf-drop="keepFile($file)"
                            ngf-pattern="'image/*'"
                            accept="image/*" ngf-max-size="10MB"
                            ngf-resize="{width: 300, height: 200}"
                            ngf-drag-over-class="dragOverClass($event)"
                            ng-model="file">
                            <div ngf-select="keepFile($file)" title="upload" resetOnClick="true"
                                 accept="image/*" ngf-max-size="10MB"
                                 ngf-resize="{width: 300, height: 200}">
                                <img ng-if="file !== undefined" class="thumbnail-upload thumbnail-img clickeable img-rounded" ngf-thumbnail="file">
                                <cl-image ng-if="file === undefined && event.img" public-id="{{ event.img }}" class="thumbnail-img clickeable img-rounded"></cl-image>
                                <img ng-if="file === undefined && !event.img" class="thumbnail-img clickeable img-rounded"
                                     src="assets/insert-image.jpg">
                            </div>
                        </div>
                    </div>
                    <input type="text" ng-model="event.name" placeholder="title" ng-required="true">
                    <input type="text" ng-model="event.description" placeholder="description" ng-required="true">
                    <input style="display:none" type="text" ng-model="event.latitude" placeholder="location" ng-required="true">
                    <input style="display:none" type="text" ng-model="event.longitude" placeholder="location" ng-required="true">
    
                    <div class="col-md-12" ng-controller="PickDateCtl">
                       <div class="input-group col-md-offset-2 col-md-4" style="float: left !important; padding-top:34px">
                           <input type="text" class="form-control" 
                            ng-model="event.date"
                            uib-datepicker-popup
                            is-open="calendar.opened"
                            min-date="calendar.minDate" 
                            ng-required="!event.date"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-no-border"
                                        ng-click="open($event)">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                        <div class="col-md-1 text-right" style="padding-top:34px">
                            <div class="btn-time">
                                <i class="glyphicon glyphicon-time"></i>
                            </div>
                        </div>
                        <div class="col-md-5 meridian-btn-change">
                            <uib-timepicker ng-model="event.date" ng-required="true">
                            </uib-timepicker>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <h4>Mark Event Location:</h4>
                    <ui-gmap-google-map center='map.center' zoom='map.zoom' events="map.events">
                        <ui-gmap-marker ng-repeat="m in map.markers" coords="m.coords" idkey="m.id">
                        </ui-gmap-marker>
                    </ui-gmap-google-map>
                    <div class="row text-left" style="padding-top:20px; padding-left: 15px; color:aliceblue">
                        <label>Privacy: </label>
                        <div class="btn-group">
                            <label class="btn btn-xs btn-info" ng-model="event.privacy" uib-btn-radio="'public'">Public</label>
                            <label class="btn btn-xs btn-info" ng-model="event.privacy" uib-btn-radio="'private'">Private</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">
                        
                        <button type="submit" class="btn btn-success" ng-disabled="form.$invalid" ng-click="save()">Save</button>
                        <button type="button" class="btn btn-danger"  ng-click="cancel()">Cancel</button>
                    </p>
                </div>
            </div>
       </div>
    </div> 
    </form>
</div>
