<div class="col-sm-6 col-md-4">
    <a ui-sref="event({ id: event.id })" class="thumbnail text-center">
        <h3>
            {{ event.name }}
        </h3>
        <div class="img-thumbnail-container" ng-if="event.img">
            <cl-image class="img-rounded" public-id="{{ event.img }}"></cl-image>
        </div>
        <div ng-if="!event.img">
            <img class="thumbnail-img img-rounded" src="assets/no-image.jpg">
        </div>
        <div class="caption">
            <p>
                {{ event.description }}
            </p>
            <!--
            <p>
                <i class="glyphicon glyphicon-calendar"></i> {{ event.date | date:'d/MM/yyyy hh:mm a' }}
            </p>
            -->
            <p ng-if="dateAfter(event.date)">
                <span am-time-ago="event.date"></span>
            </p>
            <p ng-if="!dateAfter(event.date)">
                <span class="label label-danger">finished</span>
            </p>
            <p>
                <span class="label label-primary">{{ event.privacy }}</span>
                <span ng-if="event.isOwner" class="label label-success">owner</span>
            </p>
        </div>
    </a> 
</div>
