<div ng-if="event && event.$resolved">
<div class="page-header">
    <h1>
      Event: {{ event.name }}
      <div class="pull-right">
          <button ng-if="event.isOwner" type="button" class="btn btn-primary" ng-click="openEdit()">
            <i class="glyphicon glyphicon-pencil"></i>
          </button>
          <button ng-if="event.isOwner" type="button" class="btn btn-danger" 
                  confirm-button msg="'Warning! You are going to remove this event!'" action="remove()">
            <i class="glyphicon glyphicon-remove"></i>
          </button>
      </div>
    </h1>
</div>
<div ng-if="openedEdit" class="row">
  <events-fast-form></events-fast-form>
</div>
<div ng-if="!openedEdit" class="row">
    <div class="col-md-6 text-center">
        <div class="img-detail" ng-if="event.img">
            <cl-image public-id="{{ event.img }}"></cl-image>
        </div>
        <div class="img-detail" ng-if="!event.img">
            <img src="assets/no-image.jpg">
        </div>
        <h4>
            <i class="glyphicon glyphicon-calendar"></i>
            <span>Date:</span>
            <span>{{ event.date | date:'d/MM/yyyy hh:mm a' }}</span>
        </h4>
        <h4 style="margin-bottom:0" ng-if="event.weather">
            <span>
                <skycon icon="weather.icon" size="weather.size"
                        animated="weather.animated" color="weather.color">
                </skycon>
            </span>
        </h4>
        <h4 style="margin-top:0">
            <span style="color:black">{{ weather.cleanDetail }}</span>
        </h4>
        <h4>
            <span>{{ event.description }}</span>
        </h4>
        <h4>
          <span class="label label-info">{{ event.privacy }}</span>
        </h4>
    </div>
    <div class="col-md-6 text-center">
        <div class="col-md-offset-1 col-md-10">
            <ui-gmap-google-map center='detailsMap.center' zoom='detailsMap.zoom'>
                <ui-gmap-marker ng-repeat="m in detailsMap.markers" coords="m.coords" idkey="m.id">
                </ui-gmap-marker>
            </ui-gmap-google-map>
        </div>
    </div>
</div>

<div class="page-header">
    <div class="row">
        <h1> 
            <span ng-if="authUser" class="col-md-6">Supplies</span>
            <span class="col-md-6">
                Attendance
                <button ng-if="authUser && !event.assistance" ng-disabled="assistanceDisabled" class="btn btn-success" ng-click="changeAssistance(true)">attend</button>
                <button ng-if="authUser && event.assistance" ng-disabled="assistanceDisabled" class="btn btn-danger" ng-click="changeAssistance(false)">drop out</button>
            </span>
        </h1>
    </div>
</div>

<div class="row">
    <div ng-if="authUser" class="col-md-6 text-left">
        <event-supplies></event-supplies>
    </div>
    <div class="col-md-6 text-left">
        <h4>
            Some Participants ({{ event.assistingUsers.total }} in total)
        </h4>
        <div class="animate-participants" ng-repeat="user in event.assistingUsers.data track by user.id">
            <img style="margin: 0 0 7px 7px" width="65px" 
                 uib-tooltip="{{user.name}}"
                 class="pull-left avatar clickeable" 
                 ng-click="goToUser(user.id)" 
                 ng-src="{{user.avatar}}">
        </div>
    </div>
</div>

<event-comments></event-comments>
</div>