<div ng-controller="EventsUserCtrl" ng-if="authUser">
  <div class="page-header">
    <div class="page-header-links">
      <a href="#">View all the {{ events.count }} events</a>
    </div>
    <h1>
      User events
      <button type="button" class="btn btn-primary" ng-click="newEvent()">
        <i class="glyphicon glyphicon-plus"></i>
      </button>
    </h1>
  </div>
  <div class="row">
      <events-fast-form class="new-event" ng-if="event"></events-fast-form>
      <div ng-repeat="event in events.list">
          <event-thumbnail event="event"></event-thumbnail>
      </div>
  </div>
</div>


<div ng-controller="EventsMostRecentCtrl">
  <div class="page-header">
    <div class="page-header-links">
      <a href="#">View all the {{ events.count }} events</a>
    </div>
    <h1>
      Most recent events
    </h1>
  </div>
  <div class="row">
      <div ng-repeat="event in events.list">
          <event-thumbnail event="event"></event-thumbnail>
      </div>
  </div>
</div>
