<div ng-controller="NavCtrl">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a style="height:100%;" class="navbar-brand" href="#">
          CRISA Events
        </a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li ng-if="!authUser">
            <a style="padding-bottom:0px; padding-top:0px" href="login">Login with <img class="avatar" src="https://cdn0.iconfinder.com/data/icons/yooicons_set01_socialbookmarks/512/social_facebook_box_blue.png">
            </a>
        </li>
        <li ng-if="authUser">
            <img class="avatar" ng-src="{{ authUser.avatar }}">
        </li>
        <li ng-if="authUser">
            <a ng-click="logout()" ng-bind="authUser.name + ' - logout'" href=""></a>
        </li>
      </ul>
    </div>
  </nav>
</div>
