<div ng-repeat="event in events">
  <div class="col-sm-6 col-md-4">
    <div href="#" class="thumbnail text-center">

        <h3>
            {{ event.name }}
        </h3>

        <cl-image public-id="{{ event.img }}">
          <cl-transformation height="200" width="300" crop="fill"/>
        </cl-image>

       <div class="caption">
         <p>
           {{ event.description }}
         </p>
         <p>
           {{ event.date | date:'short' }}
         </p>
         <p>
           <span class="label label-info">{{ event.privacy }}</span>
         </p>
       </div>
    </div> 
  </div>
</div>
