.navbar-brand {
  padding: 0 !important;
  padding-right: 15px !important;
}

.container.ng-enter {
  animation: fadeIn 1s;
}

.estampitas-container {
  width:100%;
  height:300px;
  border-radius: 6px;
  background-color: #eee;
}