body {
  background-image: url("../assets/background.png");
}

body { 
  padding-top: 70px; 
  color: aliceblue;
}

footer {
    display: block;
    text-align: center;
    margin-top: 50px;
    border-top: aliceblue;
    border-top-style: double;
}

h1 small, h4 small, table td a {
  color: aliceblue !important;
}

h1, h3, h4 {
  color: azure;
}

.logout.ng-enter {
  animation: wobble 1s;
}

p {
  color: azure;
}

.navbar-inverse {
  background-color: rgba(27, 7, 7, 0.32);
  border-color: #8C8C8C;
}

.modal-header, .modal-body, .modal-footer {
  background-color: rgba(27, 7, 7, 0.8);
  border-color: #8C8C8C;
}

.navbar-inverse .navbar-brand {
    color: azure;
}

.navbar-inverse .navbar-nav > li > a {
    color: lightgrey;
}

.btn-time {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;  
}

.meridian-btn-change table td button {
  margin-left: 3px;
  margin-bottom: 10px;  
}

.nav .avatar {
  height: 50px;
  width: 50px;
}

.media .avatar {
  margin: 5px 0 0 5px;
  width: 85px;
  height: 85px;
}

.container.ng-enter {
  animation: bounceInDown 1s;
}

.new-event.ng-enter {
  animation: bounceIn 1s;
}

.new-event.ng-leave {
  animation: bounceOut 1s;
}

.search-panel.ng-enter {
  animation: bounceIn 1s;
}

.search-panel.ng-leave {
  animation: bounceOut 1s;
}

.repeat-thumbnails.ng-enter {
  animation: fadeIn 1s;
}

.user-events-list.ng-leave {
  animation: bounceOutLeft 1s;
}

.event-thumbnail-repeat.ng-enter {
  animation: bounceInUp 1s;
}

.thumbnail-upload.ng-enter, .thumbnail-upload.ng-enter-active {
  animation: zoomIn 1s;
}

.thumbnail {
  border-radius: 15px 50px;
  box-shadow: 2px 2px 27px;
  background-color: rgba(27, 7, 7, 0.32);
}

.thumbnail img {
  width:300px;
  height:200px;
  max-width: 100%;
}

.clickeable {
  cursor: pointer;
}

.thumbnail h3, .thumbnail p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

input[type="text"] {
  display: block;
  margin: 0;
  margin-bottom: 10px;
  width: 100%;
  font-family: sans-serif;
  font-size: 16px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}

input[type="text"]:focus {
  outline: none;
}

.input-style-1 input[type="text"] {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}

.input-style-1 input[type="text"]:focus,
.input-style-1 input[type="text"].focus {
  border-bottom: solid 2px #969696;
}

/*calendar*/
.btn-no-border {
  border: 0px solid transparent !important;
  margin-left: -41px !important;
  margin-bottom: 2px;
  position: relative;
}

#direct_upload { 
  width: 300px;
  height: 245px;
  margin: 20px auto;
  padding: 20px 20px; 
  border: 4px dashed #ccc;
  border-top: 1px solid #ccc; 
  border-bottom: 1px solid #ccc;
  border-radius: 15px 50px;
}

#direct_upload.dragover { border-color: #0c0; }
#direct_upload.dragover-err { border-color: #c00; }

#direct_upload h1 { margin: 0 0 15px 0; }

.page-header {
  position: relative;
}

.page-header-links {
  position: absolute;
  float: right !important;
  right: 0;
  bottom: 0;
}

a {
  color: #7A7B8C;
}

a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
    border-color: #CACACA;
    text-decoration: none;
}

a:hover, a:focus {
  color: #2D2D2D;
  text-decoration: none;
}

.page-header-links a {
	color: azure;
	font-size: large;
	text-shadow: none;
}

.page-header-links a::before {
	color: #fff;
	content: attr(data-hover);
	position: absolute;
	transition: transform 0.3s, opacity 0.3s;
}

.page-header-links a:hover::before,
.page-header-links a:focus::before {
	transform: scale(0.9);
	opacity: 0;
}

.comment.ng-enter {
  animation: shake 1s;
}

.media {
  border-bottom-style: groove;
  background: rgba(80, 80, 80, 0.52);
  padding-bottom: 5px;
  border-color: aliceblue;
}

.media-body textarea {
  background-color: rgba(0, 0, 0, 0);
  margin-left: 0px;
  margin-right: 0px;
  width: 90%;
}

.media-heading {
    margin-top: 4px;
}

.media-heading .date {
  margin-left: 4px;
  font-style: oblique;
}

.media ::-webkit-input-placeholder {
   color: aliceblue;
}

.media :-moz-placeholder { /* Firefox 18- */
   color: aliceblue;  
}

.media ::-moz-placeholder {  /* Firefox 19+ */
   color: aliceblue;  
}

.media :-ms-input-placeholder {  
   color: aliceblue;  
}

.img-detail img {
  height: 200px;
  width: 300px;
}

/*id="newImage" onLoad="if(document.getElementById('newImage').value!=''){document.getElementById('newImage').style.backgroundImage='none';}"*/
.img-thumbnail-container img,
.avatar {
  background:url('../assets/loading-3.gif') no-repeat center;
}

.angular-google-map-container {
  height: 400px;
}
